<section class="openlmis-table-container">
    <button type="text" ng-click="vm.refreshPage()">{{'dhis2ExecutionList.refresh' | message}}</button>
    <table>
        <caption ng-if="!vm.executions || vm.executions.length === 0">
            {{'dhis2ExecutionList.noExecutions' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'dhis2ExecutionList.startDate' | message}}</th>
                <th>{{'dhis2ExecutionList.endDate' | message}}</th>
                <th>{{'dhis2ExecutionList.relevantPeriod' | message}}</th>
                <th>{{'dhis2ExecutionList.manualExecution' | message}}</th>
                <th>{{'dhis2ExecutionList.description' | message}}</th>
                <th>{{'dhis2ExecutionList.result' | message}}</th>
                <th>{{'dhis2ExecutionList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="execution in vm.executions">
                <td>{{execution.startDate | openlmisDatetime}}</td>
                <td>{{execution.endDate | openlmisDatetime}}</td>
                <td>{{vm.periods[execution.processingPeriodId].name}}</td>
                <td><i ng-class="{'icon-ok':execution.manualExecution}"/></td>
                <td>{{execution.description}}</td>
                <td>
                    <ul class="list-unstyled" ng-if="execution.response">
                        <li>{{'dhis2ExecutionList.status' | message}}: {{execution.response.statusCode | status}}</li>
                    </ul>
                </td>
                <td>
                    <button class="primary" ui-sref='.responsebody({id: execution.id})'>{{'dhis2ExecutionList.showResponse' | message}}</button>
                    <button class="primary" ui-sref='.requestbody({id: execution.id})'>{{'dhis2ExecutionList.showRequest' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.executions"
        paged-list="vm.items"/>
</section>
