<section class="openlmis-table-container">
    <button type="text" class="add" ui-sref='.add'>{{'dhis2IntegrationList.addSchedule' | message}}</button>
    <table>
        <caption ng-if="!vm.integrations || vm.integrations.length === 0">
            {{'dhis2IntegrationList.noIntegrations' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'dhis2IntegrationList.program' | message}}</th>
                <th>{{'dhis2IntegrationEdit.schedule' | message}}</th>
                <th>{{'dhis2IntegrationEdit.description' | message}}</th>
                <th>{{'dhis2IntegrationList.configuration' | message}}</th>
                <th>{{'dhis2IntegrationList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="integration in vm.integrations">
                <td ng-if="integration.programId">{{vm.programs[integration.programId].name}}</td>
                <td ng-if="!integration.programId">{{ 'dhis2IntegrationList.allPrograms' | message }}</td>
                <td><openlmis-cron-selection ng-model="integration.cronExpression" read-only="true"/></td>
                <td>{{integration.description}}</td>
                <td>{{integration.configuration.name}}</td>
                <td>
                    <button class="primary" ui-sref=".edit({id: integration.id})">{{'dhis2IntegrationList.edit' | message}}</button>
                    <button ui-sref=".execute({id: integration.id})">{{'dhis2IntegrationList.execute' | message}}</button>
                    <button class="danger" ng-click="vm.deleteIntegration(integration)">{{'dhis2IntegrationList.delete' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.integrations"
        paged-list="vm.items"/>
</section>

