
<section class="openlmis-table-container">
        <button type="text" class="add" ui-sref='.add'>{{'dhis2ConfigurationList.addConfiguration' | message}}</button>
        <table>
            <caption ng-if="!vm.configurations || vm.configurations.length === 0">
                {{'dhis2ConfigurationList.noConfigurations' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'dhis2ConfigurationList.name' | message}}</th>
                    <th>{{'dhis2ConfigurationList.targetUrl' | message}}</th>
                    <th>{{'dhis2ConfigurationList.authenticationDetails' | message}}</th>
                    <th>{{'dhis2ConfigurationList.actions' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configuration in vm.configurations">
                    <td>{{configuration.name}}</td>
                    <td>{{configuration.targetUrl}}</td>
                    <td ng-if="configuration.authenticationDetails">
                        {{configuration.authenticationDetails.type}}
                    </td>
                    <td ng-if="!configuration.authenticationDetails"></td>
                    <td>
                        <button class="primary" ui-sref='.edit({id: configuration.id})'>{{'dhis2ConfigurationList.edit' | message}}</button>
                        <button class="danger" ng-click="vm.deleteConfiguration(configuration)">{{'dhis2ConfigurationList.delete' | message}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <openlmis-pagination
            list="vm.configurations"
            paged-list="vm.items"/>
    </section>
