
<section class="openlmis-table-container">
        <button type="text" class="add" ui-sref='.add'>{{'dhis2.addConfiguration' | message}}</button>
        <form ng-submit="vm.search()">
            <fieldset class="form-group">
                <label for="authType">{{'dhis2.authType' | message}}</label>
                <input type="text" id="authType" ng-model="vm.authType"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="targetUrl">{{'dhis2.targetUrl' | message}}</label>
                <input type="text" id="targetUrl" ng-model="vm.targetUrl"/>
            </fieldset>
            <input type="submit" value="{{'dhis2.search' | message}}"/>
        </form>
        <table>
            <!-- <caption ng-if="!vm.Execution || vm.Execution.length === 0">
                {{'dhis2.noExecutions' | message}}
            </caption> -->
            <thead>
                <tr>
                    <th ng-if="vm.showErrorColumn"></th>
                    <th>{{'dhis2.authType' | message}}</th>
                    <th>{{'dhis2.targetUrl' | message}}</th>
                    <th>{{'dhis2.actions' | message}}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-if="vm.showErrorColumn && roleAssignment.errors.length"
                        class="role-assignment-invalid"
                        dhis2                       popover-template="admin-user-roles/role-assignment-errors-popover.html">
                    </td>
                    <td ng-if="vm.showErrorColumn && !roleAssignment.errors.length"></td>
                    <td>Basic</td>
                    <td>http://lmis-dev.com</td>
                    <td>
                        <button class="primary" ui-sref='.edit'>{{'dhis2.edit' | message}}</button>
                        <button class="danger" ng-click="vm.removeRole(roleAssignment)">{{'dhis2.delete' | message}}</button>
                    </td>
                </tr>
                <tr>
                    <td ng-if="vm.showErrorColumn && roleAssignment.errors.length"
                        class="role-assignment-invalid"
                        popover-template="admin-user-roles/role-assignment-errors-popover.html">
                    </td>
                    <td ng-if="vm.showErrorColumn && !roleAssignment.errors.length"></td>
                    <td>Basic</td>
                    <td>http://lmis-uat.com</td>
                    <td>
                        <button class="primary" ui-sref='.edit'>{{'dhis2.edit' | message}}</button>
                        <button class="danger" ng-click="vm.removeRole(roleAssignment)">{{'dhis2.delete' | message}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <openlmis-pagination
            list="vm.Execution"
            paged-list="vm.items"/>
    </section>
