<section class="openlmis-table-container">
    <button type="text" class="add" ui-sref='.add'>{{'dhis2.addSchedule' | message}}</button>
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="program">{{'dhis2.program' | message}}</label>
            <input type="text" id="program" ng-model="vm.program"/>
        </fieldset>
        <input type="submit" value="{{'dhis2.search' | message}}"/>
    </form>
    <table>
        <!-- <caption ng-if="!vm.Execution || vm.Execution.length === 0">
            {{'dhis2.noExecutions' | message}}
        </caption> -->
        <thead>
            <tr>
                <th ng-if="vm.showErrorColumn"></th>
                <th>{{'dhis2.program' | message}}</th>
                <th>{{'dhis2.period' | message}}</th>
                <th>{{'dhis2.description' | message}}</th>
                <th>{{'dhis2.actions' | message}}</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-if="vm.showErrorColumn && roleAssignment.errors.length"
                    class="role-assignment-invalid"
                    popover-template="admin-user-roles/role-assignment-errors-popover.html">
                </td>
                <td ng-if="vm.showErrorColumn && !roleAssignment.errors.length"></td>
                <td>HIV</td>
                <td>Every 10th month at 10 PM</td>
                <td>Monthly update</td>
                <td>
                    <button class="primary" ui-sref=".edit">{{'dhis2.update' | message}}</button>
                    <button class="danger" ng-click="vm.removeRole(roleAssignment)">{{'dhis2.delete' | message}}</button>
                </td>
            </tr>
            <tr>
                <td ng-if="vm.showErrorColumn && roleAssignment.errors.length"
                class="role-assignment-invalid"
                popover-template="admin-user-roles/role-assignment-errors-popover.html">
                </td>
                <td ng-if="vm.showErrorColumn && !roleAssignment.errors.length"></td>
                <td>Malaria</td>
                <td>Weekly on Friday at 6 AM</td>
                <td>Weekly update</td>
                <td>
                    <button class="primary" ui-sref=".edit">{{'dhis2.update' | message}}</button>
                    <button class="danger" ng-click="vm.removeRole(roleAssignment)">{{'dhis2.delete' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.Execution"
        paged-list="vm.items"/>
</section>

